<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">

    <featureManager>
        <feature>microProfile-3.2</feature>
        <feature>cdi-2.0</feature>
        <feature>jdbc-4.2</feature>
        <feature>jaxrs-2.1</feature>
        <!-- For connection validation -->
        <feature>appSecurity-2.0</feature>
        <feature>restConnector-2.0</feature>
    </featureManager>

    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

    <webApplication location="${project.name}.war" contextRoot="/"/>
    <mpMetrics authentication="false"/>

    <!-- This is the keystore that will be used by SSL and by JWT. -->
    <keyStore id="defaultKeyStore" location="public.jks" type="JKS" password="atbash" />


    <quickStartSecurity userName="apps" userPassword="ody"/>

    <library id="Library1">
        <fileset dir="${shared.resource.dir}" includes="mysql-connector-java-8.0.15.jar"/>
    </library>
        <dataSource id="DefaultDataSource" jdbcDriverRef="JdbcDriver1">
        <properties databaseName="testdb" password="pass" portNumber="3306" serverName="${avar}" user="mysql" customProp="${bvar}"/>
    </dataSource>
    <jdbcDriver id="JdbcDriver1" libraryRef="Library1"/>

</server>
